# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
./dist
./tmp_*

tmp_*
chrome/script.js
chrome/background.js
chrome/style.css
chrome/sound.mp3
chrome/OptimusPrinceps.ttf
chrome/options.html
chrome/options.js
chrome/popup.html
chrome/popup.js